*,
*::before,
*::after{
    box-sizing: border-box;

}

a{
    text-decoration: none;
    color: inherit;
     cursor: pointer;
}

body{
    padding: 0;
    margin: 0;

    
}

h1, h2, h3, h4, h5, h6{
    font-weight: 400;
}



main{
    /*background: #86F6F9;*/
    margin: auto;
}
header{
    width: 100%;
    height: 120px;
    
    /*padding: 30px 40px;*/
    /*background: white;*/
    margin: 0;
}
.header-container{
    margin: auto;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
}

nav{
    width: 50%;

}

.line{
    width: 25px;
    height: 3px;
    background-color: #f1cdb3;
    margin: 5px;
}


.nav__ul{
    font-family: 'Arial';
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    list-style: none;
}

.nav__li:hover{
    border-bottom: 4px solid #F1CDB3;

}

.nav__li .active{
    border-bottom: 4px solid #F1CDB3;

}
.nav__li{
    padding-bottom: 10px;
}
.nav__li > a{
    text-decoration: none;
    color: inherit;
}
.logo a{
    text-decoration: none;
    color: inherit;
}
.logo__h1{
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color:  #F1CDB3;
}

.logo__p{
    margin: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #292929;
}



/*header style end*/
.page_title{
    
    width: 100%;
    letter-spacing: 0.06em;
    color: #545454;
    display: flex;
    justify-content: center;
}

.page_title_h3{

    font-family: 'Georgia';
    font-style: normal;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
}

.carousel{
     margin: auto;
    max-width: 1280px;
}
.card{
    width: 270px;
height: 435px;
text-align: center;
background: #FAFAFA;
border-radius: 9px;
margin: 15px 0;
}

.icon_card{
    text-align: center;
}

.card:hover{
    cursor: pointer;
    background: white;
}

.card:hover >.card_btn{
    background: #F1CDB3;
}
.card_title{
    font-size: 20px;
    line-height: 23px;
}
.card_btn{
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;

    align-items: center;
    padding: 15px 45px;
    background: #fafafa;
}

.shelter_container{
   width: 100%;
   margin-right: auto;
   margin-left: auto;
   /*background: red;*/
}

.shelter_row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.help{
    max-width: 1280px;
    margin: auto;
}
.pag_item{
    border: 2px solid #CDCDCD;
box-sizing: border-box;
border-radius: 50px;
color: #CDCDCD;
padding: 20px;
margin: 10px;
background: transparent;
}

.pag_num{
    background: #F1CDB3;
    border: 1px solid #F1CDB3;
    color: black;
}

.pag_right{
border: 2px solid #F1CDB3;
color: black;
}
.pagination_container{
    display: flex;
    justify-content: center;
    margin: 40px;
}
.banner{
    
    width: 100%;
    background: url(../../assets/images/start-screen-gradient-background.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 50px 0 50px;
    color: white;
}

.banner_content{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
     margin: auto;
    max-width: 1280px;
}
.left-content{
   display: flex;
  /*justify-content: center;
  align-content: center;*/
  flex-direction: column;
    /*width: 35%;*/banner
}
.right-content{
    /*width: 60%;*/
    display: flex;
}

.right-content__img{
    height: 100%;
}

.banner h2{
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 130%;

/* or 57px */
display: flex;
align-items: center;

/* color-light-xl */
color: #FFFFFF;
}

.banner p{
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;

/* or 24px */
display: flex;
align-items: center;

/* color-dark-s */
color: #CDCDCD;

}

.banner button{

background: #F1CDB3;
border: 2px solid #F1CDB3;
border-radius: 100px;
border-radius: 50px;
width: 150px;
padding: 10px 10px;
}


.about_container{
    display: flex;
    justify-content: space-around;
    padding: 50px;
     margin: auto;
    max-width: 1280px;
}

.about_row{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 50px 80px 50px 80px;
}

.about-the-shelter h3{
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;

/* or 45px */
display: flex;
align-items: center;
letter-spacing: 0.06em;
}

p{
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;

/* or 24px */

/* color-dark-xl */
color: #4C4C4C;


}

.about_img{
    width: 300px;
}
.donate_image{
    width: 500px;
}

.img_container{
    text-align: center;
}

.donate_subtitle{
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 110%;

/* identical to box height, or 17px */
display: flex;
align-items: center;
letter-spacing: 0.06em;

/* color-dark-l */
color: #545454;
}

.visa{
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;

/* identical to box height, or 23px */
display: flex;
align-items: center;
letter-spacing: 0.06em;

/* color-dark-l */
color: #545454;

background: #F1CDB3;
border-radius: 9px;

padding: 10px;
margin: 20px 10px 10px 0;
}
footer{
    background: url(../../assets/images/footer-gradient-background.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
    color: white;
    background-size: cover;
     background-repeat: no-repeat;
}

footer h3{
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;

/* or 45px */
letter-spacing: 0.06em;

/* color-light-xl */
color: #FFFFFF;
}


.footer_img{
    margin: 40px 40px 0 0;
}


.footer_span{
    font-size: 20px;
line-height: 115%;

/* identical to box height, or 23px */
letter-spacing: 0.06em;
}

.contact_line{
    display: flex;
    align-items: center;
    justify-content: space-around;
     color: #F1CDB3;
}
.contact_icon{
height: 100%;
}

.collapse_nav{
    align-self: flex-end;
    cursor: pointer;
}
@media (min-width:768px) { 
    .collapse_nav{
        display: none;
    }

   

/* big landscape tablets, laptops, and desktops */ }

@media only screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .nav__ul{
        /*display: none;*/
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: #4c4034;
        display: flex;
        flex-direction: column;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

    }

    .nav__li{
        opacity: 0;
    }


/*nav end*/


     .banner_content{
    flex-flow: column;
}

.about_container{
    flex-flow: column;
}

.about_row{
    padding: 10px 10px 10px 10px;
}

.about_img, .donate_image{
    width: 100%;
}

}

@media only screen and (max-width: 320px) {
    .nav__ul{
        display: none;
    }
}

/*nav responsive*/
.collapse_nav {
  float: right;
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.collapse_nav.toggle{

     transform: rotate(-90deg);
     transition: transform 0.5s ease-in;
}

/*.toggle .line1{
    transform: rotate(-90deg);
}
.toggle .line2{
    transform: rotate(-90deg);
}
.toggle .line3{
    transform: rotate(-90deg);
}*/